<mat-nav-list class="menu">
  <div class="menu-links">
    <a class="link1" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <mat-list-item>
        <mat-icon class="menu-link-icon" color="primary" [inline]="true">home</mat-icon>
        <span>Home</span>
      </mat-list-item>
    </a>
    <a class="link2" routerLink="/projects" routerLinkActive="active">
      <mat-list-item>
        <mat-icon class="menu-link-icon" color="primary" [inline]="true">device_hub</mat-icon>
        <span>Projects</span>
      </mat-list-item>
    </a>
    <a class="link3" routerLink="/books" routerLinkActive="active">
      <mat-list-item>
        <mat-icon class="menu-link-icon" color="primary" [inline]="true">disc_full</mat-icon>
        <span>Vinyl</span>
      </mat-list-item>
    </a>
    <a class="link4" routerLink="/contact" routerLinkActive="active">
      <mat-list-item>
        <mat-icon class="menu-link-icon" color="primary" [inline]="true">contact_mail</mat-icon>
        <span>Contact</span>
      </mat-list-item>
    </a>
  </div>
</mat-nav-list>
