.menu {
  padding-top: 0;
  z-index: 999;
  //box-shadow: 0px 1px 1px rgba(0, 242, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.85);
  .menu-links{
    display: flex;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    .active{
      background-color: rgba(10, 226, 237, 0.8);
      border-radius: 10px;
      .mat-icon, span{
        color: rgba(6, 41, 81, 0.86) !important;
        text-shadow: 1px 1px 1px rgba(24, 242, 224, 0.86);
      }
      transition: all .3s ease-in-out;
    }
    .menu-link-icon{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      margin-right: .4rem;
      color: white;
    }
    span{
      font-size: .9rem;
      color: white;
    }
  }
}

@media screen and (max-width: 540px) {
  .menu {
    margin-bottom: 3rem;
    .menu-links {
      display: block;
      width: 50%;
      margin-left: .5rem;
      margin-right: 0;
    }
  }
}

