.search-bar-container{
  max-width: 77%;
  margin-left: auto;
  margin-right: auto;
  .search-bar {
    display: block;
    margin: 5rem auto 2rem auto;
    font-size: 1rem;
    width: auto;
    .icon{
      font-size: 1.4rem;
      font-weight: lighter;
      //color: rgba(10, 185, 111, 0.85);
      color: rgba(0, 0, 0, 0.85);

    }
  }
}

::ng-deep input.mat-input-element {
  //color: rgba(7, 180, 106, 0.85);
  color: rgba(0, 0, 0, 0.85);
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  //color: rgba(7, 180, 106, 0.85) !important;
  //font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.85) !important;
  font-size: 1rem;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  //background-color: rgba(7, 180, 106, 0.85) !important;
  background-color: rgba(0, 0, 0, 0.85) !important;
}
