<div class="search-bar-container">
  <mat-form-field class="search-bar" appearance="fill">
    <mat-label>Search</mat-label>
    <input  matInput type="text">
    <button matSuffix mat-icon-button aria-label="Search">
      <mat-icon class="icon">search</mat-icon>
    </button>
  </mat-form-field>
</div>
