<div class="body-component">
  <div class="test"></div>
<!--  <img class="test" src="assets/test-3d.png" alt="">-->
  <div class="container">
    <!--  <p>Typescript // Javascript //Angular // Three JS //</p>-->
    <!--  <p>Java // Spring // Maven // Gradle // JPA // Hibernate</p>-->
    <!--  <p>MySQL // Postgres</p>-->
    <!--  <p>Docker // Gitlab CICD</p>-->
    <div class="presentation">
      <div
        class="vanilla-tilt stack-card"
        data-tilt data-tilt-reverse="true"
        data-tilt-scale="1.02"
      >
        <!--        data-tilt-full-page-listening-->
        <h2>Stack</h2>
        <div class="stack-img">
          <img [width]="70" src="assets/angular.png" alt="Angular Logo">
          <img [width]="55" src="assets/material.png" alt="Angular Material Logo">
        </div>
        <div class="stack-img">
          <div class="flex-column-mobile">
            <img [width]="70" src="assets/spring.png" alt="Spring Logo">
            <img [width]="50" src="assets/symfony.png" alt="Symfony Logo">
          </div>
          <div class="flex-column-mobile">
            <img [width]="70" src="assets/java.png" alt="Java Logo">
            <img [width]="50" src="assets/javascript.png" alt="Javascript Logo">
          </div>
        </div>
        <div class="stack-img">
          <img [width]="70" src="assets/Git.png" alt="Git Logo">
          <img [width]="70" src="assets/confluence.jpg" alt="Confluence Logo">
        </div>
      </div>
      <div class="about-me">
        <div class="about-me-header">
          <h1 class="about-me-title">Benjamin Theron</h1>
          <h2 class="about-me-subtitle">About me</h2>
        </div>
        <div class="about-me-body">
          <p>Hey, my name is Ben, I am a <span class="green">junior Full-Stack Developer</span> based in Rennes (France). I am passionate about new technologies & design around web.</p>
          <p>Before that I did a lot of different job (Accountant, Teacher, Delivery-man...) then I start to learn web with <span class="green">HTML, CSS</span> in from January 2020 to march 2020 by myself.</p>
          <p>Then, I started to learn <span class="green">programming</span> at school until this day. Check my projects with the link below to see have an idea of my work.</p>
        </div>

      </div>

    </div>
    <mat-nav-list class="project-link">
      <a routerLink="/projects" routerLinkActive="active">
        <mat-list-item>
          <mat-icon class="icon" color="primary" [inline]="true">device_hub</mat-icon>
          <span>Projects</span>
        </mat-list-item>
      </a>
    </mat-nav-list>
  </div>
</div>
