.body-component{
  padding: 10rem 0;
  background-color: rgba(153, 198, 192, 0.31);
  .test{
    //IMAGE ANGULAR
    position: relative;
    z-index: -10;
    display: block;
    width: 50%;
    height: 300px;
    margin: -10rem auto 5rem auto;
    background-color: rgba(103, 201, 199, 0.42);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .container{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    .presentation{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      .stack-card{
        display: block;
        width: 100%;
        height: 330px;
        margin: 0 0 auto 0;
        padding: 1rem;
        color: #000000;
        background-color: rgba(180, 226, 222, 0.8);
        box-shadow: 0 10px 10px rgba(40, 30, 4, 0.3);
        .stack-img{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .about-me{
      padding-left: 3.5rem;
      width: 100%;
      .about-me-header{
        color: rgba(0, 0, 0, 0.83);
        .about-me-title{
          font-size: 1.9rem;
          letter-spacing: 2px;
          font-weight: bold;
        }
        .about-me-subtitle{
          font-size: 1.3rem;
          font-weight: bold;
          text-decoration: underline;
          text-decoration-thickness: 4px;
          text-underline-offset: 1rem
        }
      }
      .about-me-body{
        line-height: 1.4rem;
        font-size: 1rem;
        margin-top: 2rem;
        text-align: justify;
        color: rgba(3, 42, 8, 0.86);
        text-shadow: 0 1px 1px #d4d5d7;
        .green{
          padding: 0.1rem .4rem;
          background-color: rgba(32, 136, 153, 0.83);
          color: rgb(255, 255, 255);
          text-shadow: 0 1px 1px #000000;
          font-weight: bold;
        }
      }
    }
    .project-link {
      width: 140px;
      padding-top: 0;
      margin: 3.5rem auto 0 auto;
      box-shadow: 0 1px 1px rgba(4, 33, 46, 0.86);
      text-shadow: 1px 1px 1px rgba(1, 18, 11, 0.45);
      background-color: rgba(10, 120, 148, 0.79);
      transition: all .3s ease-in-out;
      border-radius: 6px;
      &:hover {
        background-color: rgba(17, 96, 127, 0.82);
      }
      .icon {
        font-size: 1rem;
      }
      .mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        margin-left: .4rem;
        color: white;
        transition: all .3s ease-in-out;
      }
      span {
        margin: auto;
        font-size: 1.1rem;
        letter-spacing: 2px;
        color: white;
        transition: all .3s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .body-component{
    padding: 4rem 0;
    .container {
      .presentation {
        flex-direction: column;
        width: 70%;
        margin: auto;
        .stack-card {
          display: block;
          width: 100%;
          height: 350px;
          margin: 0 0 4rem 0;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .body-component{
    .container {
      width: 90%;
      .presentation {
        margin: auto;
        width: 100%;
        .stack-card {
          justify-content: center;
        }
      }
    }
  }
}


@media screen and (max-width: 450px) {
  .body-component{
    .container {
      width: 100%;
      .stack-img{
        .flex-column-mobile{
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

