.cursor{
  //background: rgba(24, 182, 222, 0.82) !important;
  height: 100vh;
  display: grid;
  margin: 0;
  place-items: center;
  overflow: hidden;
  svg{
    z-index: 99;
    width: 100px;
    position: absolute;
    animation: rotation 4s infinite linear;
    pointer-events: none;
    transition: top .6s, left .6s;
    transition-timing-function: linear;
  }
  text{
    font-size: 4em;
    font-weight: bold;
    fill: rgba(3, 109, 174, 0.84);
  }
  button{
    background-color: blue;
    border: none;
    padding: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: .3em;
    font-size: .9em;
    cursor: pointer;
  }
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
