<app-menu></app-menu>
<div class="cursor">
  <button>View the Experience</button>
  <svg xmlns="http://www.w3.org/2000/svg" xml:lang="en"
       xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500">
    <defs>
      <path id="textcircle"
            d="M250,400
                 a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z"
            transform="rotate(12,250,250)"/>
    </defs>
    <rect width="100%" height="100%" fill="none" />
    <text>
      <textPath xlink:href="#textcircle"
                aria-label="All for One &amp; One for All"
                textLength="942">&#160; SHARE YOUR VISION
      </textPath>
    </text>
  </svg>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
