<div class="book-body">
  <h1 class="text-center overline">🧿 Vinyl Science 📼</h1>
  <h2 class="text-center underline ">📼 Beat Tape 🧿</h2>
  <app-searchbar></app-searchbar>
    <mat-list class="book-container">
        <mat-card class="book-card" *ngFor="let book of books$ | async">
          <img [width]="360" src="assets/homer.gif" alt="picture of book or tape">
            <div class="book-tilt book-body-card" data-tilt>
              <mat-list-item>
                  <mat-card-title>{{book.title}}</mat-card-title>
              </mat-list-item>
              <mat-list-item>
                Description : {{book.description}}
              </mat-list-item>
              <mat-list-item>
                Author : {{book.author}}
              </mat-list-item>
              <mat-list-item>
                Year : {{book.year}}
              </mat-list-item>
              <button mat-mini-fab color="primary" aria-label="view" class="button">
                <mat-icon>launch</mat-icon>
              </button>
              <button mat-mini-fab color="primary" aria-label="edit" class="button">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="warn" aria-label="delete" class="button" (click)="deleteBook(book)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
        </mat-card>
    </mat-list>
</div>


