.book-body{
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  .text-center{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  .overline{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgba(0, 112, 181, 0.85);
    text-underline-offset: -3.1rem
  }
  .underline{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgba(87, 0, 181, 0.85);
    text-underline-offset: 1.3rem;
  }
  .book-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    .book-card {
      width: 360px;
      height: 100%;
      margin: 2rem;
      padding: 0;
      background-color: rgba(230, 235, 241, 0.85);
      box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.45);
      .book-body-card{
        padding: 1.5rem;
      }
      .mat-list-item{
        margin: 0px;
        color: rgba(0, 0, 0, 0.83);
        font-size: .9rem;
      }
      .button{
        margin: 1rem 1rem 1rem 0rem;
        &:first-of-type{
          margin-left: .9rem;
          background-color: rgba(0, 181, 106, 0.85);
        }
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .book-body {
    max-width: 70%;
  }
}

@media screen and (max-width: 1215px) {
  .book-body {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .book-body {
    max-width: 100%;
    margin-top: 2rem;
    .book-container {
      .book-card {
        img{
          max-width: 300px;
        }
        max-width: 300px;
        margin: 0;
        padding: 1rem;
        margin-bottom: 2rem;
      }
    }
  }
}


@media screen and (max-width: 340px) {
  .book-body {
    max-width: 100%;
    .book-container {
      .book-card {
        max-width: 230px;
      }
    }
  }
}
