.container{
  margin-top: 3rem;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 2000px) {
  .container {
    max-width: 40%;
  }
}


@media screen and (max-width: 700px) {
  .container {
    max-width: 80%;
  }
}
