/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  .mb-3{
    margin-bottom: 3rem;
  }
}

body::-webkit-scrollbar {
  display: none;
}

