.footer-header{
  display: flex;
  bottom: 0;
  height: 3rem;
  width: 100%;
  padding-top: 0;
  background-color: rgba(0, 0, 0, 0.86);
  .footer-text{
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 1rem;
  }
}

.footer-body{
  display: flex;
  height: 160px;
  width: 100%;
  padding: 2rem 0;
  background: linear-gradient(rgba(100, 208, 230, 0.79), rgba(145, 225, 229, 0.83));
  .social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

@media screen and (max-width: 540px) {
  .social-links {
    display: block ;
    width: 50%;
    margin-left: .5rem;
    margin-right: 0;
  }
}



