<mat-nav-list class="footer-header">
  <p class="footer-text">© 2022 Benjamin Theron. All Rights Reserved.</p>
</mat-nav-list>
<div class="footer-body">
  <ul class="social-links">
    <li><img width="40" src="assets/signe-github.png" alt="">GitHub</li>
    <li><img width="40" src="assets/linkedin.png" alt="">Linkedin</li>
    <li><img width="40" src="assets/gitlab.png" alt="">Gitlab</li>
  </ul>
</div>
