<div class="body-component">
  <div class="container">
    <h1 class="mb-3">Projects</h1>
    <div class="resume">
      <h2>Site Personnel</h2>
      <h3>Object : presentation of my work on this current website</h3>
      <p>Stack : Spring (Java), Angular (Typescript), Javascript, Git, Postgres, IntelliJ, HTMl, SCSS, Gitlab CICD, Docker, ThreeJS</p>
      <h2>CRM EPSI</h2>
      <p>Object : Before I integrate Capgemini I had to do a formation (POEI)  of 3 months at EPSI School. During this formation we learn about Java, Javascript, HTML, CSS & SCSS, Spring, Angular, GIT, POO, Design Pattern, SQL, MCD…
        At the end of the formation we had to present the project we realized around CRM.</p>
      <p>Stack : Spring (Java), Angular (Typescript), Javascript, Git, Postgres, IntelliJ, HTMl, SCSS, GSAP, Docker, Balsmaiq, Trello, Discord</p>
      <h2>Agence Immobilière (back non réalisé)</h2>
      <p>Object : This was a project to train me on a real project with CSS & Animation. I havn’t hot the time to finish it because I started a new formation at EPSI and work as a salary at Capgemini part time.</p>
      <p>Stack : Git, HTML, CSS, Symfony</p>
      <h2>Namastest</h2>
      <p>Object : After i did my first formation into web development at ENI School, I did an internship at MS-Consulting. This is a company at Marseille. I worked from home with two others intern from my school (one at Marseille, the other one in Guadeloupe).</p>
      <p>We had to create a webapp from scratch. I worked as a full-stack developer, a PO and UI & UX designer.</p>
      <p>It was a full stage where I learned a lot about computing and other jobs</p>
      <p>Stack : Git, HTML,   CSS, Symfony (PHP), Twig,  Javascript, BootStrap & CSS Personalisé, Jira, Confluence, Discord, Slack, Sketch, Teams, MySQL</p>
    </div>
  </div>
</div>


