.body-component{
  padding: 3rem 0;
  background-color: rgba(248, 251, 201, 0.4);
    color: black;
  .container{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 540px) {
  .body-component {
    .container {
      max-width: 90%;
    }
  }
}
